@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
.app {
  @apply relative z-10;
}

body, main {
  min-height: 100vh;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      /* hsla(215, 20%, 90%, 1) 0px, */
      transparent 0%
    ),
    radial-gradient(at 97% 21%, rgb(39, 230, 236) 0px, transparent 50%),
    radial-gradient(at 52% 99%, rgb(114, 233, 241) 0px, transparent 50%),
    radial-gradient(at 10% 29%, rgb(181, 245, 242) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.dot {
  animation-name: dot;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* You need to add some delay to each dot */
.dot:nth-child(2) {
  animation-delay: 0.5s;
}

.dot:nth-child(3) {
  animation-delay: 1s;
}

.pdf-viewer {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  pointer-events: auto;
  flex: 1, 1, auto;
}

.pdf-viewer__toolbar {
  display: flex;
  width: 38.1%;
  font-family: system-ui, Roboto, sans-serif;
  align-items: center;
  padding: 0 8px;
  height: 42px;
  background-color: #ac9191;
  border-bottom: 1px solid #e0e0e0;
  flex-shrink: 0;
}

.pdf-viewer__content {
  flex: 1 1 auto;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.chat-toolbar {
  display: flex;
  padding: 0 6px;
  height: 42px;
  align-items: center;
  flex-shrink: 1;
}

.link {
  color: #777;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  padding: .5rem;
  margin-top: 1rem;
}

.link:hover {
  color: #000;
}

.dropdown > .link:focus, .link:hover {
  color: #000;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  background-color: #e0e0e0;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  pointer-events: none;
}

.dropdown > .link:focus + .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}